@page
@model SCMWebApp.AdminPanel.Pages.MediaModel
@{
    ViewData["Title"] = "Media";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .my-image {
            height: 50px;
            max-width: 150px;
        }

        .my-delete-button {
            background-color: #ff6e6e;
            border: 0px;
            color: white;
            border-radius: 8px;
            height: 45px;
            width: 100px;
        }
    </style>
</head>
<body>

    <div>
        <h1 style="float: left">@ViewData["Title"]</h1>

        <div style="float: right">
            <select class="form-control" id="FilterId" name="FilterId" style="display: flex" onchange="mediaFilter()">
                <option value="0">All Type</option>
                <option value="1">Introduction Page</option>
                <option value="2">Course Banner</option>
                <option value="4">About Banner</option>
                <option value="5">About Link</option>
            </select>
        </div>
    </div>

    <table>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image Type</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        @foreach (var banner in Model.Banners)
        {
            <tr class="image image-@banner.BannerTypeId">
                <td>
                    <img src="@(banner.ImagePath)" class="my-image">
                </td>
                <td>@(banner.Title)</td>
                <td>@(banner.Description)</td>
                <td>@(banner.BannerType.Name)</td>
                <td>
                    <a href="/EditImage?id=@banner.Id">Edit</a>
                </td>
                <td>
                    @*<input type="button" class="my-delete-button" onclick="@(Model.DeleteMedia(banner.Id))" value="Delete">*@
                    <a href="/DeleteImage?id=@banner.Id">Delete</a>
                </td>
            </tr>
        }

        <tr>
            <td>
                <a href="/Upload">Add</a>
            </td>
        </tr>
    </table>

    @section Scripts {
        <script>
            function mediaFilter() {
                var mediaTypeFilter = document.getElementById("FilterId").value;

                if (mediaTypeFilter == 0) {
                    var collection = document.getElementsByClassName("image");

                    for (var i = 0; i < collection.length; i++) {
                        collection[i].style.display = "table-row";
                    }
                } else {
                    var hideCollection = document.getElementsByClassName("image");

                    for (var i = 0; i < hideCollection.length; i++) {
                        hideCollection[i].style.display = "none";
                    }

                    var collection = document.getElementsByClassName("image-" + mediaTypeFilter);

                    for (var i = 0; i < collection.length; i++) {
                        collection[i].style.display = "table-row";
                    }
                }
            }
        </script>
    }
</body>
</html>

@*<a href="path?imageid=@banner.Id">Edit</a>

onget(int imageid)*@
@*<a href="path/@banner.Id">Edit</a>

"{id}"
onget(int id)*@