@page
@model SCMWebApp.AdminPanel.Pages.MediaModel
@{
    ViewData["Title"] = "Media";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .my-image {
            height: 50px;
            max-width: 150px;
        }

        .my-delete-button {
            background-color: #ff6e6e;
            border: 0px;
            color: white;
            border-radius: 8px;
            height: 45px;
            width: 100px;
        }
    </style>
</head>
<body>

    <div>
        <h1>@ViewData["Title"]</h1>
    </div>

    <table>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image Type</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var banner in Model.Banners)
        {
            <tr>
                <td>
                    <img src="@(banner.ImagePath)" class="my-image">
                </td>
                <td>@(banner.Title)</td>
                <td>@(banner.Description)</td>
                <td>@(banner.BannerType.Name)</td>
                <td>
                    <a href="path?imageid=@banner.Id">Edit</a>
                </td>
                <td>
                    <button class="my-delete-button">Delete</button>
                </td>
            </tr>
        }
    </table>

</body>
</html>

@*<a href="path?imageid=@banner.Id">Edit</a>

onget(int imageid)*@

@*<a href="path/@banner.Id">Edit</a>

"{id}"
onget(int id)*@