@page
@model SCMWebApp.AdminPanel.Pages.StaffModel
@{
    ViewData["Title"] = "Staff";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .my-image {
            height: 50px;
            max-width: 150px;
        }

        .my-delete-button {
            background-color: #ff6e6e;
            border: 0px;
            color: white;
            border-radius: 8px;
            height: 45px;
            width: 100px;
        }
    </style>
</head>
<body>

    <div>
        <h1 style="float: left">@ViewData["Title"]</h1>

        <div style="float: right; margin: 10px,0,0,0">
            <select class="form-control" id="ProgrammeFilterId" name="ProgrammeFilterId" style="display: flex" onchange="staffFilter()">
                <option value="0">All Programme</option>
                <option value="1">Bachelor of Mobile Game Development</option>
                <option value="2">Bachelor of Computer Science</option>
                <option value="3">Bachelor of Arts in Industrial Design</option>
                <option value="4">Bachelor of Arts in Creative Digital Media</option>
                <option value="5">School of Computing and Creative Media</option>
                <option value="6">School of Postgraduate Studies</option>
            </select>
        </div>
    </div>

    <table>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Phone No.</th>
            <th>Email</th>
            <th>Position</th>
            <th>Programme</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        @foreach (var staff in Model.Staffs)
        {
            <tr class="programme programme-@staff.ProgrammeId">
                <td>
                    <img src="@(staff.Image)" class="my-image">
                </td>
                <td>@(staff.Name)</td>
                <td>@(staff.PhoneNum)</td>
                <td>@(staff.Email)</td>
                <td>@(staff.Position.Role)</td>
                <td>@(staff.Programme.Name)</td>
                <td>
                    <a href="/EditStaff?id=@staff.Id">Edit</a>
                </td>
                <td>
                    <a href="/DeleteStaff?id=@staff.Id">Delete</a>
                </td>
            </tr>
        }

        <tr>
            <td>
                <a href="/AddStaff">Add</a>
            </td>
        </tr>
    </table>

    @section Scripts {
        <script>
            function staffFilter() {
                var programmeFilter = document.getElementById("ProgrammeFilterId").value;

                if (programmeFilter == 0) {
                    var collection = document.getElementsByClassName("programme");

                    for (var i = 0; i < collection.length; i++) {
                        collection[i].style.display = "table-row";
                    }
                } else {
                    var hideCollection = document.getElementsByClassName("programme");

                    for (var i = 0; i < hideCollection.length; i++) {
                        hideCollection[i].style.display = "none";
                    }

                    var collection = document.getElementsByClassName("programme-" + programmeFilter);

                    for (var i = 0; i < collection.length; i++) {
                        collection[i].style.display = "table-row";
                    }
                }
            }
        </script>
    }
</body>
</html>