@page
@model SCMWebApp.AdminPanel.Pages.StaffModel
@{
    ViewData["Title"] = "Staff";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .my-image {
            height: 50px;
            max-width: 150px;
        }

        .my-delete-button {
            background-color: #ff6e6e;
            border: 0px;
            color: white;
            border-radius: 8px;
            height: 45px;
            width: 100px;
        }
    </style>
</head>
<body>

    <div>
        <h1>@ViewData["Title"]</h1>
    </div>

    <table>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Phone No.</th>
            <th>Email</th>
            <th>Position</th>
            <th>Programme</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        @foreach (var staff in Model.Staffs)
        {
            <tr>
                <td>
                    <img src="@(staff.Image)" class="my-image">
                </td>
                <td>@(staff.Name)</td>
                <td>@(staff.PhoneNum)</td>
                <td>@(staff.Email)</td>
                <td>@(staff.Position.Role)</td>
                <td>@(staff.Programme.Name)</td>
                <td>
                    <a href="/EditStaff?id=@staff.Id">Edit</a>
                </td>
                <td>
                    <a href="/DeleteStaff?id=@staff.Id">Delete</a>
                </td>
            </tr>
        }

        <tr>
            <td>
                <a href="/AddStaff">Add</a>
            </td>
        </tr>
    </table>

</body>
</html>