@page
@model SCMWebApp.AdminPanel.Pages.StudentApplicationModel
@{
    ViewData["Title"] = "Student Application";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .my-image {
            height: 50px;
            max-width: 150px;
        }

        .my-delete-button {
            background-color: #ff6e6e;
            border: 0px;
            color: white;
            border-radius: 8px;
            height: 45px;
            width: 100px;
        }
    </style>
</head>
<body>

    <div>
        <h1 style="float: left">@ViewData["Title"]</h1>

        <div style="float: right; margin: 10px,0,0,0">
            <select class="form-control" id="ProgrammeFilterId" name="ProgrammeFilterId" style="display: flex" onchange="programmeFilter()">
                <option value="0">All Programme</option>
                <option value="1">Bachelor of Mobile Game Development</option>
                <option value="2">Bachelor of Computer Science</option>
                <option value="3">Bachelor of Arts in Industrial Design</option>
                <option value="4">Bachelor of Arts in Creative Digital Media</option>
                <option value="6">Postgraduate Studies</option>
            </select>
        </div>
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>Phone No.</th>
            <th>Email</th>
            <th>Programme</th>
            <th>Remove</th>
        </tr>

        @foreach (var student in Model.Students)
        {
            <tr class="programme programme-@student.ProgrammeId">
                <td>@(student.Name)</td>
                <td>@(student.PhoneNumber)</td>
                <td>@(student.Email)</td>
                <td>@(student.Programme.Name)</td>
                <td>
                    <a href="/RemoveStudentApplication?id=@student.Id">Remove</a>
                </td>
            </tr>
        }
    </table>

    @section Scripts {
        <script>
            function programmeFilter() {
                var programmeFilter = document.getElementById("ProgrammeFilterId").value;

                if (programmeFilter == 0 && positionFilter == 0) {
                    var collection = document.getElementsByClassName("programme");

                    for (var i = 0; i < collection.length; i++) {
                        collection[i].style.display = "table-row";
                    }
                } else {
                    var hideCollection = document.getElementsByClassName("programme");

                    for (var i = 0; i < hideCollection.length; i++) {
                        hideCollection[i].style.display = "none";
                    }

                    var collection = document.getElementsByClassName("programme-" + programmeFilter);

                    for (var i = 0; i < collection.length; i++) {
                        collection[i].style.display = "table-row";
                    }
                }
            }
        </script>
    }

</body>
</html>
