@page "/bmd"
@model SCMWebApp.Pages.BMDPageModel
@{
    ViewData["Title"] = "BMD page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UTS | BMD</title>

    <link href="icon/favicon.ico" rel="shortcut icon">
</head>
<body>
    <div id="loading-overlay">
        <div class="loader"></div>
    </div>
    <div class="bg-header">
        <div class="flat-header-blog">
            <div class="page-title page-title-blog">
                <div class="page-title-inner">
                    <div class="breadcrumbs breadcrumbs-blog text-left">
                        <div class="container">
                            <div class="breadcrumbs-wrap">
                                <ul class="breadcrumbs-inner">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/course">Course</a></li>
                                    <li><a href="/bmd">Mobile Game Development</a></li>
                                </ul>
                                <div class="title">
                                    Bachelor of Mobile Game Development(Hons)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- bg-header -->
    <div class="courses-single-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="content-page-wrap clearfix">
                        <div class="course-single">
                            <div class="featured-post">
                                <div class="entry-image">
                                    <div class="videobox">
                                        <a class="fancybox" data-type="iframe" href="https://www.youtube.com/embed/X9mveMYAzDY">
                                            <img src="@(Model.Banner.ImagePath)" alt="images">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="title">
                                    <a href="/bmd">Bachelor of Mobile Game Development</a>
                                </div>
                                <div class="author-price">
                                    <div class="author">
                                        <div class="avatar">
                                            <img src="@(Model.BMDStaff.Image)" alt="images">
                                        </div>
                                        <div class="info">
                                            <div class="name">
                                                <a>@(Model.BMDStaff.Name)</a>
                                            </div>
                                            <div class="job">
                                                @(Model.BMDStaff.Position.Role), <br />School of Computing and Creative Media
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-wrap price-course-single">
                                        <div class="btn-buynow">
                                            <a href="mailto:jackie@uts.edu.my?subject=Enquiry">Contact Me</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flat-tabs">
                            <ul class="tab-title type1 clearfix">
                                <li class="item-title  overview">
                                    <span class="inner">OVERVIEW</span>
                                </li>
                                <li class="item-title curriculum">
                                    <span class="inner">TUITION FEE</span>
                                </li>
                                <li class="item-title instructor">
                                    <span class="inner">PROGRAMME</span>
                                </li>
                            </ul>
                            <div class="tab-content-wrap">
                                <div class="tab-content">
                                    <div class="item-content">
                                        <div class="question-sg text clearfix">
                                            <div class="title">
                                                <a>Course Overview</a>
                                            </div>
                                            <p>
                                                Want explore more into game development specifically in mobile games? You're in the right place! UTS had published another new course for our student to choose which is Bachelor of Mobile Game Development(Hons).
                                            </p>
                                        </div>
                                        <div class="certificate-sg text clearfix">
                                            <div class="title">
                                                <a>Objectives</a>
                                            </div>
                                            <div class="certificate">
                                                <div class="certificate-wrap">
                                                    <ul class="list-certificate">
                                                        <li>
                                                            Analyse and relate broad knowledge of Mobile Game Development concepts and principles to practices incorporating technical skills in relevant fields.
                                                        </li>
                                                        <li>
                                                            Commit to take responsibility in leading and deliver assigned tasks when leading, interacting and communicating with peers and stakeholders while ensuring ethical practices.
                                                        </li> 
                                                        <li>
                                                            Demonstrate technical competency in the innovative and creative use of digital technology and apply numerical techniques in Mobile Game Development.
                                                        </li>                                                        
                                                        <li>
                                                            Commit to life-long learning and exhibit entrepreneurial skills for academic and career advancement in relevant industries and related contemporary issues.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="requirements-sg text clearfix">
                                            <div class="title">
                                                <a>Requirements</a>
                                            </div>
                                            <ul class="request">
                                                <li>
                                                    A pass in STPM with at least Grade C (GP 2.00) in any TWO (2) subjects; OR
                                                </li>
                                                <li>
                                                    A pass in STAM with at least grade Jayyid; OR
                                                </li>
                                                <li>
                                                    Matriculation or Foundation with at least CGPA of 2.00; OR
                                                </li>
                                                <li>
                                                    A Diploma (Level 4, MQF) with at least CGPA of 2.00; OR
                                                </li>
                                                <li>
                                                    An Advanced Diploma (Level 5, MQF) with at least CGPA of 2.00; OR
                                                </li>
                                                <li>
                                                    A Diploma Kemahiran Malaysia (DKM) / Diploma Vokasional Malaysia (DVM) subjected to HEP Senate / Academic Board’s approval****; OR
                                                </li>
                                                <li>
                                                    A Diploma Lanjutan Kemahiran Malaysia (DLKM) subjected to HEP Senate / Academic Board’s approval****; OR
                                                </li>                                                
                                                <li>
                                                    Unified Examination Certificate with a minimum Grade B in 5 subjects; OR
                                                </li>
                                                <li>
                                                    Other relevant equivalent qualifications recognised by the Malaysian Government; AND
                                                </li>
                                                <li>
                                                    Pass an interview (online / virtual / conventional) OR submission of student’s portfolio, to be determined by the HEP as required. AND
                                                </li>
                                                <li>
                                                    For international student, Test of English as a Foreign Language (TOEFL) must pass with score of 500 or International English Language Testing (IELTS) with score of 5.0 or its equivalent. In the event that the student did not meet the criteria, Higher Educational Provider has to offer English course to ensure the student proficiency to meet the needs of programme. This is usually done through evaluation process.
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="price-course-single">
                                            <div class="btn-buynow">
                                                <a href="http://oculus.uts.edu.my/apply/signup.php#type/undergraduate">Enroll Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="item-content">
                                        <div class="question-sg text clearfix">
                                            <div class="title">
                                                <a>Tuition Fee</a>
                                            </div>
                                            <a href="https://www.uts.edu.my/tuition-fees/">View Programme Fee Here</a>
                                        </div>
                                        <div class="access-sg text clearfix">
                                            <div class="title">
                                                <a>Need Financial Assistance?</a>
                                            </div>
                                            <a href="https://uts.edu.my/wp-content/uploads/2019/04/financial-assistance-apr16-2019.pdf">Click Me</a>
                                        </div>
                                        <div class="certificate-sg text clearfix">
                                            <div class="title">
                                                <a>Study Loan</a>
                                            </div>
                                            <p>
                                                Study loan such as <b>PTPTN</b> and <b>MARA</b> are available in UTS.
                                            </p>
                                        </div>

                                        <div class="requirements-sg text clearfix">
                                            <div class="title">
                                                <a>Any Enquiries?</a>
                                            </div>
                                            <ul class="request">
                                                <li>
                                                    Contact us admin <b>(+6) 084-367300 </b>
                                                </li>
                                                <li>
                                                    Contact us admin <b>enquiry@uts.edu.my</b>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="price-course-single">
                                            <div class="btn-buynow">
                                                <a href="http://oculus.uts.edu.my/apply/signup.php#type/undergraduate">Enroll Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="item-content">
                                        <div class="certificate">
                                            <div class="certificate-wrap">
                                                <p>
                                                    <b>Programme Structure</b>
                                                </p>
                                                <ul class="list-certificate">
                                                    <li>
                                                        <a href="https://scm.uts.edu.my/wp-content/uploads/2023/04/2023BMD-Structure-AFinal.pdf">Click me</a>
                                                    </li>
                                                </ul> <br />
                                                <div class="price-course-single">
                                                    <div class="btn-buynow">
                                                        <a href="http://oculus.uts.edu.my/apply/signup.php#type/undergraduate">Enroll Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar-right">
                        <div class="widget widget-features">
                            <div class="widget-title">
                                Course Features
                            </div>
                            <div class="content">
                                <ul class="features">
                                    <li>
                                        <a>MQA</a>
                                        <span>MQA/PA 15925</span>
                                    </li>
                                    <li>
                                        <a>Duration</a>
                                        <span>3.5 Years</span>
                                    </li>
                                    <li>
                                        <a>Intakes</a>
                                        <span>February & September</span>
                                    </li>
                                    <li>
                                        <a>Category</a>
                                        <span>Mobile Development</span>
                                    </li>
                                </ul>
                                <div class="share-via">
                                    <div class="title">
                                        Share via
                                    </div>
                                    <ul class="social-media">
                                        <li><a href="https://web.facebook.com/utsofficialswk"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.instagram.com/utscm/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.uts.edu.my/contact-2-2/"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="mailto:enquiry@uts.edu.my?subject=Enquiry"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="related-course related-course-single">
                            <div class="title">
                                Visit Our Main Website
                            </div>
                            <div class="related-course-wrap client-style3">
                                <div class="flat-carousel-box data-effect clearfix" data-gap="30" data-column="1" data-column2="1" data-column3="1" data-column4="1" data-dots="false" data-auto="false" data-nav="false">
                                    <div class="owl-carousel">
                                        <div class="flat-course">
                                            <div class="featured-post">
                                                <div class="entry-image">
                                                    <img src="@(Model.Banner.ImagePath)" alt="images">
                                                </div>
                                            </div>
                                            <div class="course-content clearfix">
                                                <div class="wrap-course-content">
                                                    <h4>
                                                        <a href="https://www.uts.edu.my/">University of Technology Sarawak</a>
                                                    </h4>
                                                    <p>
                                                        First ever university published on 1 April 2023 in Sibu town.
                                                    </p>
                                                    <div class="author-info">
                                                        <div class="author-name">
                                                            Sibu, Sarawak.
                                                        </div>
                                                        <div class="enroll">
                                                            <a href="https://www.uts.edu.my/">Visit</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <br />
        <script src="javascript/jquery.min.js"></script>
        <script src="javascript/rev-slider.js"></script>
        <script src="javascript/plugins.js"></script>
        <script src="javascript/jquery-countTo.js"></script>
        <script src="javascript/jquery-ui.js"></script>
        <script src="javascript/jquery-fancybox.js"></script>
        <script src="javascript/flex-slider.min.js"></script>
        <script src="javascript/scroll-img.js"></script>
        <script src="javascript/owl.carousel.min.js"></script>
        <script src="javascript/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="javascript/parallax.js"></script>
        <script src="javascript/jquery-isotope.js"></script>
        <script src="javascript/equalize.min.js"></script>
        <script src="javascript/main.js"></script>

        <!-- slider -->
        <script src="rev-slider/js/jquery.themepunch.tools.min.js"></script>
        <script src="rev-slider/js/jquery.themepunch.revolution.min.js"></script>

        <!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->
        <script src="rev-slider/js/extensions/extensionsrevolution.extension.actions.min.js"></script>
        <script src="rev-slider/js/extensions/extensionsrevolution.extension.carousel.min.js"></script>
        <script src="rev-slider/js/extensions/extensionsrevolution.extension.kenburn.min.js"></script>
        <script src="rev-slider/js/extensions/extensionsrevolution.extension.layeranimation.min.js"></script>
        <script src="rev-slider/js/extensions/extensionsrevolution.extension.migration.min.js"></script>
        <script src="rev-slider/js/extensions/extensionsrevolution.extension.navigation.min.js"></script>
        <script src="rev-slider/js/extensions/extensionsrevolution.extension.parallax.min.js"></script>
        <script src="rev-slider/js/extensions/extensionsrevolution.extension.slideanims.min.js"></script>
        <script src="rev-slider/js/extensions/extensionsrevolution.extension.video.min.js"></script>
</body>
</html>