@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<head>
    <meta charset="UTF-8">
    <title>UTS | SCM</title>

    <link href="icon/favicon.ico" rel="shortcut icon">
</head>
    <body>
    <div id="loading-overlay">
        <div class="loader"></div>
    </div>

    <section class="flat-slider style1 clearfix">
        <div class="rev_slider_wrapper fullwidthbanner-container">
            <div id="rev-slider1" class="rev_slider fullwidthabanner">
                <ul>
                    <!-- Slider -->
                    @foreach (var banner in Model.Banners)
                    {
                        <!-- Slide 1 -->
                        <li data-transition="random">
                            <!-- Main Image -->
                            <img class="imgdim" src="@(banner.ImagePath)" alt="" data-bgposition="center center" data-no-retina>
                            <div class="overlay"></div>

                            <!-- Layers -->
                            <div class="tp-caption tp-resizeme education"
                                 data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['-113','-80','-70','-70']"
                                 data-fontsize="['70','70','50','30']"
                                 data-lineheight="['90','90','70','50']"
                                 data-width="full"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];"
                                 data-mask_out="x:inherit;y:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on">
                                <div class="education-text text-white">@(banner.Title)</div>
                            </div>

                            <div class="tp-caption tp-resizeme text-white complete text-edukin"
                                 data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['-22','-5','-10','-10']"
                                 data-fontsize="['17','17','15','14']"
                                 data-lineheight="['30','30','26','22']"
                                 data-width="full"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];"
                                 data-mask_out="x:inherit;y:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 data-paddingright="['550','155','50','2']">
                                @(banner.Description)
                            </div>

                            <div class="tp-caption"
                                 data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['88','80','60','70']"
                                 data-width="full"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];"
                                 data-mask_out="x:inherit;y:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 data-paddingtop="['50','50','50','50']"
                                 data-paddingbottom="['50','50','50','50']">
                                <a href="#course" class="btn btn-styl1">Read More</a>
                            </div>

                            <div class="tp-caption sl-address"
                                 data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['325','280','250','200']"
                                 data-width="full"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];"
                                 data-mask_out="x:inherit;y:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 data-paddingtop="['50','50','50','50']"
                                 data-paddingbottom="['50','50','50','50']">
                                <a href="#" class="text-white sl-phone"><i class="fa fa-phone" aria-hidden="true"></i> Tel:  (+6) 084-367429 (Admin)</a><a href="#" class="text-white sl-email"><i class="fa fa-envelope" aria-hidden="true"></i> scm@uts.edu.my</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </section>

    <!-- flat-slider -->
    <section class="partner-clients partner-clients-style1" id="course">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="slide-client owl-carousel" data-auto="false" data-item="4" data-nav="false" data-dots="false" data-gap="0">
                        <ul>
                            <li>
                                <img src="images/home/01.png" alt="images" style="width: 190px;height: 70px;object-fit: contain;">
                            </li>
                        </ul>
                        <ul>
                            <li><img src="images/home/02.png" alt="images" style="width: 190px;height: 70px;object-fit: contain;"></li>
                        </ul>
                        <ul>
                            <li><img src="images/home/03.png" alt="images" style="width: 190px;height: 70px;object-fit: contain;"></li>
                        </ul>
                        <ul>
                            <li><img src="images/home/04.png" alt="images" style="width: 190px;height: 70px;object-fit: contain;"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="iconbox-style1">
                        <div class="apply-admission">
                            <div class="apply-admission-wrap type2 bd-type1">
                                <div class="apply-admission-inner">
                                    <h2 class="title text-center">
                                        <span>Apply for admission</span>
                                    </h2>
                                    <div class="caption text-center">
                                        Make it more simple!
                                    </div>
                                    <div class="apply-sent apply-sent-style1">
                                        <div class="browse-all-courses pd-browse-course text-center">
                                            <a href="/#admission" class="btn-browse-courses">Apply Now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- partner-clients -->
    <section class="online-courses online-courses-style1">
        <div class="container">
            <div class="title-section text-center">
                <p class="sub-title lt-sp17">Available Courses</p>
                <div class="flat-title medium">
                    Main Courses in School of Computing and Creative Media
                </div>
            </div>
            <div class="online-courses-wrap">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="imagebox-courses-type1">
                            <div class="featured-post">
                                <img src="images/home/bcs_img.jpg" alt="images" style="max-height:320px; max-width:410px;">
                            </div>
                            <div class="author-info">
                                <div class="avatar">
                                    <img src="@(Model.BCS_Staff.Image)" alt="images">
                                </div>
                                <div class="category">
                                    computing
                                </div>
                                <div class="name">
                                    <a href="#">Bachelor of Computer Science (Hons)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="imagebox-courses-type1">
                            <div class="featured-post">
                                <img src="images/home/bai_img.jpg" alt="images" style="max-height:320px; max-width:410px;">
                            </div>
                            <div class="author-info">
                                <div class="avatar">
                                    <img src="@(Model.BID_Staff.Image)" alt="images">
                                </div>
                                <div class="category">
                                    arts
                                </div>
                                <div class="name">
                                    <a href="#">Bachelor of Arts in <br /> Industrial Design</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="imagebox-courses-type1">
                            <div class="featured-post">
                                <img src="images/home/bdm_img.jpg" alt="images" style="max-height:320px; max-width:410px;">
                            </div>
                            <div class="author-info">
                                <div class="avatar">
                                    <img src="@(Model.BDM_Staff.Image)" alt="images">
                                </div>
                                <div class="category">
                                    design
                                </div>
                                <div class="name">
                                    <a href="#">Bachelor of Arts in <br /> Creative Digital Media</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="imagebox-courses-type1">
                            <div class="featured-post">
                                <img src="images/home/bmd_img.jpg" alt="images" style="max-height:320px; max-width:410px;">
                            </div>
                            <div class="author-info">
                                <div class="avatar">
                                    <img src="@(Model.BMD_Staff.Image)" alt="images">
                                </div>
                                <div class="category">
                                    mobile game
                                </div>
                                <div class="name">
                                    <a href="#">Bachelor of Mobile <br /> Game Development</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="browse-all-courses pd-browse-course text-center">
            <a href="/course" class="btn-browse-courses">Browse all courses</a>
        </div>
    </section>

    <!-- online-courses -->
    <section class="flat-services style1 parallax parallax1 clearfix">
        <div class="section-overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="services-content-box themesflat-content-box" data-padding="0% 30% 0% 0%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                        <div class="flat-imagebox imagebox-services style1">
                            <div class="imagebox-content">
                                <img src="images/home/13.png" alt="images">
                                <h5 class="text-one text-white">Financial Supports</h5>
                                <p class="text-white">
                                    Having trouble with tuition fees? Contact us for further advice! Up to 80% discout available in UTS!
                                </p>
                                <div class="read-more">
                                    <a href="https://uts.edu.my/wp-content/uploads/2019/04/financial-assistance-apr16-2019.pdf">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="services-content-box themesflat-content-box" data-padding="0% 15% 0% 16%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                        <div class="flat-imagebox imagebox-services style1">
                            <div class="imagebox-content">
                                <img src="images/home/14.png" alt="images">
                                <h5 class="text-two text-white">About University</h5>
                                <p class="text-white">
                                    Choosing our university is a way to produce quality graduand to serve the society.
                                </p>
                                <div class="read-more">
                                    <a href="https://www.uts.edu.my/about-university/">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="services-content-box themesflat-content-box" data-padding="0% 0% 0% 30.5%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                        <div class="flat-imagebox imagebox-services style1">
                            <div class="imagebox-content">
                                <img src="images/home/15.png" alt="images">
                                <h5 class="text-three text-white">Foreign Student</h5>
                                <p class="text-white">
                                    Our university welcomed international friends to join us. Check out at our website for more information!
                                </p>
                                <div class="read-more">
                                    <a href="https://cir.uts.edu.my/">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- flat-services -->
    <section class="flat-introduce flat-introduce-style1 clearfix" id="greeting">
        <div class="container">
            <div class="col-left">
                @*bind db*@
                <div class="videobox">
                    <a class="fancybox" data-type="iframe" href="https://www.youtube.com/embed/X9mveMYAzDY">
                        <img src="@(Model.About_Banner.ImagePath)" alt="images">
                    </a>
                    <div class="elip-top">
                        <img src="images/home/42.png" alt="images">
                    </div>
                    <div class="elip-bottom">
                        <img src="images/home/42.png" alt="images">
                    </div>
                </div>
            </div>
            <div class="col-right">
                <div class="content-introduce content-introduce-style1">
                    <div class="title-section">
                        <p class="sub-title lt-sp25">About our school</p>
                        <div class="flat-title larger heading-type1">Greeting!</div>
                    </div>
                    <div class="content-introduce-inner">
                        <p>
                            Welcome visitors! We're representing you briefly about our school, School of Computing and Creative Media.
                        </p>
                        <p>
                            to create a sustainable graduand in the society and change the future! Do contact our admin if you had any inquiries.
                        </p>
                        <p>
                            About our school:
                        </p>
                        <div class="content-list">
                            <ul>
                                <li>
                                    <span class="text">
                                        <a href="https://www.uts.edu.my/academic-calendar-2/"><b>Programme Calendar</b></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="text">
                                        <a href="https://drac.uts.edu.my/facilities/"><b>Facilities Available in Our School</b></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="text">
                                        <a href="https://www.uts.edu.my/campus-life/"><b>Student Life in Campus</b></a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- flat-introduce -->
    <section class="flat-benefit style1 clearfix" id="admission">
        <div class="container-fluid">
            <div class="col-benefit-left">
                <div class="wrap-inconbox-benefit">
                    <div class="title-section">
                        <div class="flat-title small heading-type2 text-black">Why choose us?</div>
                    </div>
                    <div class="iconbox-benefit iconbox-benefit-style1">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-sx-12">
                                <div class="themesflat-content-box" data-padding="0% 4% 0% 0%" data-sdesktoppadding="0% 0% 0% 0%" data-ssdesktoppadding="0% 0% 0% 0%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                                    <div class="iconbox">
                                        <div class="iconbox-icon">
                                            <img src="images/home/graduate_hat.png" alt="images" style="filter:brightness(0); width:50px; height:50px;">
                                        </div>
                                        <div class="iconbox-content img-one">
                                            <h3>
                                                <a href="#">Certificate</a>
                                            </h3>
                                            <p>
                                                Courses in University of Technology Sarawak are certified by Malaysian Qualification Agency and are used in whole Malaysia.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-sx-12">
                                <div class="themesflat-content-box" data-padding="0% 4% 0% 0%" data-sdesktoppadding="0% 15px 0% 0%" data-ssdesktoppadding="0% 15px 0% 0%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                                    <div class="iconbox">
                                        <div class="iconbox-icon">
                                            <img src="images/home/facility.png" alt="images" style="filter:brightness(0); width:50px; height:50px;">
                                        </div>
                                        <div class="iconbox-content img-two">
                                            <h3>
                                                <a href="#">Life Programs</a>
                                            </h3>
                                            <p>
                                                University of Technology Sarawak is one of the essential in life changing for Malaysian or even human beings.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-sx-12">
                                <div class="themesflat-content-box" data-padding="0% 4% 0% 0%" data-sdesktoppadding="0% 0% 0% 0%" data-ssdesktoppadding="0% 0% 0% 0%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                                    <div class="iconbox">
                                        <div class="iconbox-icon">
                                            <img src="images/home/finance.png" alt="images" style="filter:brightness(0); width:50px; height:50px;">
                                        </div>
                                        <div class="iconbox-content img-three">
                                            <h3>
                                                <a href="#">Affordability</a>
                                            </h3>
                                            <p>
                                                Having trouble with financial? No worries! our university provides financial aids up to 100% for you!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-sx-12">
                                <div class="themesflat-content-box" data-padding="0% 4% 0% 0%" data-sdesktoppadding="0% 15px 0% 0%" data-ssdesktoppadding="0% 15px 0% 0%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                                    <div class="iconbox">
                                        <div class="iconbox-icon">
                                            <img src="images/home/student.png" alt="images" style="filter:brightness(0); width:50px; height:50px;">
                                        </div>
                                        <div class="iconbox-content img-four">
                                            <h3>
                                                <a href="#">Social</a>
                                            </h3>
                                            <p>
                                                University of Technology Sarawak provides excellent graduands that ready to serve with society.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-benefit-right">
                <div class="apply-admission bg-apply-type1">
                    <div class="apply-admission-wrap type3 bd-type2">
                        <div class="apply-admission-inner">
                            <h2 class="title text-center">
                                <span>Apply for admission</span>
                            </h2>
                        </div>
                    </div>
                    <div class="form-apply">
                        <div class="section-overlay183251"></div>
                        <form action="#" class="apply-now">
                            <ul>
                                <li><input type="search" placeholder="Name"></li>
                                <li><input type="search" placeholder="Email"></li>
                                <li><input type="search" placeholder="Phone"></li>
                            </ul>
                            <div class="btn-50 hv-border text-center">
                                <button class="btn bg-clff5f60">
                                    Apply now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- flat-benefit -->

    <section class="slider testimonial-flexslider testimonial-style1 equalize sm-equalize-auto clearfix">
        <div class="wrap-info themesflat-content-box" data-padding="0% 0% 0% 10%" data-sdesktoppadding="0% 0% 0% 0%" data-ssdesktoppadding="0% 0% 0% 0%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
            <div id="carousel-testimonial" class="flexslider">
                <ul class="slides translate-none">
                    <li class="avatar">
                        <img src="images/home/33.png" alt="images">
                    </li>
                    <li class="avatar">
                        <img src="images/home/32.png" alt="images">
                    </li>
                    <li class="avatar">
                        <img src="images/home/31.png" alt="images">
                    </li>
                    <li class="avatar">
                        <img src="images/home/30.png" alt="images">
                    </li>
                    <li class="avatar">
                        <img src="images/home/29.png" alt="images">
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrap-quote themesflat-content-box" data-padding="10.47% 14.1% 0% 0%" data-sdesktoppadding="10.47% 15px 0% 15px" data-ssdesktoppadding="16% 15px 0% 15px" data-mobipadding="100px 15px 85px 15px" data-smobipadding="100px 15px 85px 15px">
            <div id="slider-testimonial" class="flexslider">
                <ul class="slides client-info">
                    <li>
                        <span class="icon-quote icon-icons8-get-quote-filled-100"></span>
                        <p class="speech">
                            " Before Coursecity, I was working two minimum wage job. Now& new<br> life & learned most of my programming database<br> hrough self-study &the material available.
                        </p>
                        <div class="name">
                            Stephanie Magion
                        </div>
                    </li>
                    <li>
                        <span class="icon-quote icon-icons8-get-quote-filled-100"></span>
                        <p class="speech">
                            " Before Coursecity, I was working two minimum wage job. Now& new<br> life & learned most of my programming database<br> hrough self-study &the material available.
                        </p>
                        <div class="name">
                            Stephanie Magion
                        </div>
                    </li>
                    <li>
                        <span class="icon-quote icon-icons8-get-quote-filled-100"></span>
                        <p class="speech">
                            " Before Coursecity, I was working two minimum wage job. Now& new<br> life & learned most of my programming database<br> hrough self-study &the material available.
                        </p>
                        <div class="name">
                            Stephanie Magion
                        </div>
                    </li>
                    <li>
                        <span class="icon-quote icon-icons8-get-quote-filled-100"></span>
                        <p class="speech">
                            " Before Coursecity, I was working two minimum wage job. Now& new<br> life & learned most of my programming database<br> hrough self-study &the material available.
                        </p>
                        <div class="name">
                            Stephanie Magion
                        </div>
                    </li>
                    <li>
                        <span class="icon-quote icon-icons8-get-quote-filled-100"></span>
                        <p class="speech">
                            " Before Coursecity, I was working two minimum wage job. Now& new<br> life & learned most of my programming database<br> hrough self-study &the material available.
                        </p>
                        <div class="name">
                            Stephanie Magion
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- testimonial -->
    <section class="quick-link quick-link-style1 parallax parallax2" id="link">
        <div class="section-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="wrap-link-left">
                        <div class="caption lt-sp275">
                            It’s fast, free and very easy!
                        </div>
                        <div class="heading-lf lt-sp03">
                            Ready to get started?
                        </div>
                        <p>
                            Join us in School of Computing and Creative Media by enrolling in University of Technology Sarawak now!
                        </p>
                        <div class="btn-apply-link">
                            <ul>
                                <li>
                                    <a class="btn btn-apply bg-clff5f60" href="/#admission">Apply now</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="wrap-link-right">
                        <div class="heading-rg">
                            <span>Quick Link</span>
                        </div>
                        <ul class="info-quick-link">
                            <li>
                                <img src="images/home/graduate_hat.png" alt="images">
                                <a href="#">About University</a>
                            </li>
                            <li>
                                <img src="images/home/facility.png" alt="images">
                                <a href="#">School Facilities</a>
                            </li>
                            <li>
                                <img src="images/home/wallet.png" alt="images">
                                <a href="#">Tuition Fee</a>
                            </li>
                            <li>
                                <img src="images/home/finance.png" alt="images">
                                <a href="https://uts.edu.my/wp-content/uploads/2019/04/financial-assistance-apr16-2019.pdf">Financial Aid</a>
                            </li>
                            <li>
                                <img src="images/home/student.png" alt="images">
                                <a href="#">International Student</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- quick-link -->
    </body>
</html>
