@page "/post-course"
@model SCMWebApp.Pages.PostgraduatePageModel
@{
    ViewData["Title"] = "Course page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UTS | Postgraduate Course</title>

    <link href="icon/favicon.ico" rel="shortcut icon">
</head>
<body>
    <div id="loading-overlay">
        <div class="loader"></div>
    </div>
    <div class="bg-header">
        <div class="flat-header-blog">
            <div class="page-title page-title-blog">
                <div class="page-title-inner">
                    <div class="breadcrumbs breadcrumbs-blog text-left">
                        <div class="container">
                            <div class="breadcrumbs-wrap">
                                <ul class="breadcrumbs-inner">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/post-course">Postgraduate Course</a></li>
                                </ul>
                                <div class="title">
                                    Available Postgraduate Courses
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- bg-header -->
    <div class="courses-single-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="content-page-wrap clearfix">
                        <div class="course-single">
                            <div class="featured-post">
                                <div class="entry-image">
                                    <div class="videobox">
                                        <a class="fancybox" data-type="iframe" href="https://www.youtube.com/embed/X9mveMYAzDY">
                                            <img src="@(Model.CourseBanner.ImagePath)" alt="images">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="title">
                                    <a href="#">School of Postgraduate Studies</a>
                                </div>
                                <div class="author-price">
                                    <div class="author">
                                        <div class="avatar">
                                            <img src="@(Model.SPSStaff.Image)" alt="images" style="width:65px; height:65px;">
                                        </div>
                                        <div class="info">
                                            <div class="name">
                                                <b>@(Model.SPSStaff.Name)</b>
                                            </div>
                                            <div class="job">
                                                @(Model.SPSStaff.Position.Role), School of Postgraduate Studies
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flat-tabs">
                            <ul class="tab-title type1 clearfix">
                                <li class="item-title  overview">
                                    <span class="inner">OVERVIEW</span>
                                </li>
                                <li class="item-title curriculum">
                                    <span class="inner">COURSE</span>
                                </li>
                            </ul>
                            <div class="tab-content-wrap">
                                <div class="tab-content">
                                    <div class="item-content">
                                        <div class="question-sg text clearfix">
                                            <div class="title">
                                                <a href="#">Overview</a>
                                            </div>
                                            <p>
                                                Postgraduate study is study to a level that is higher than a first degree.  The reasons for pursuing a postgraduate degree are diverse and usually driven by personal needs and desires. Improving employment and salary prospects is not the only reason to pursue further study. People also undertake postgraduate study to specialize after doing a more generalize undergraduate degree, to gain profession registration, and to increase their depth of knowledge and expertise in their chosen field – so they can go on to do high-level work that is simulating, challenging, and ultimately more rewarding.
                                            </p>
                                        </div>
                                        <div class="certificate-sg text clearfix">
                                            <div class="title">
                                                <a href="#">Contact Us Now!</a>
                                            </div>
                                            <div class="certificate">
                                                <div class="certificate-wrap">
                                                    <ul class="list-certificate">
                                                        <li>
                                                            Contact number:   +6084-367300 Ext 509/562
                                                        </li>
                                                        <li>
                                                            Email:   postgraduate@uts.edu.my
                                                        </li>                                                      
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="price-course-single">
                                            <div class="btn-buynow">
                                                <a href="http://oculus.uts.edu.my/apply/signup.php">Enroll Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="item-content">
                                        <div class="requirements-sg text clearfix">
                                            <div class="title">
                                                <a href="#">Our Courses</a>
                                            </div>
                                            <ul class="request">
                                                <li>
                                                    <a href="/phd-computing">Doctor of Philosophy(PHD) in Computing</a>
                                                </li>
                                                <li>
                                                    <a href="/master-computing">Master of Computing</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="certificate-sg text clearfix">
                                            <div class="title">
                                                <a href="#">Intakes Available</a>
                                            </div>
                                            <div class="certificate">
                                                <div class="certificate-wrap">
                                                    <ul class="list-certificate">
                                                        <li>
                                                            March Intake
                                                        </li>
                                                        <li>
                                                            June Intake
                                                        </li>                                                        
                                                        <li>
                                                            September Intake
                                                        </li>                                                        
                                                        <li>
                                                            December Intake
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="price-course-single">
                                            <div class="btn-buynow">
                                                <a href="http://oculus.uts.edu.my/apply/signup.php">Enroll Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar-right">
                        <div class="widget widget-features">
                            <div class="widget-title">
                                Course Features
                            </div>
                            <div class="content">
                                <ul class="features">
                                    <li>
                                        <a href="#">Certificate</a>
                                        <span>Yes</span>
                                    </li>
                                    <li>
                                        <a href="/post-courses">Education Level</a>
                                        <span>Postgraduate</span>
                                    </li>
                                    <li>
                                        <a href="#">Category</a>
                                        <span>Technology</span>
                                    </li>
                                </ul>
                                <div class="share-via">
                                    <div class="title">
                                        Share via
                                    </div>
                                    <ul class="social-media">
                                        <li><a href="https://www.facebook.com/profile.php?id=100064193225861"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="https://www.instagram.com/sps__uts/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="mailto:enquiry@uts.edu.my?subject=Enquiry"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="related-course related-course-single">
                            <div class="title">
                                Visit Our Main Website
                            </div>
                            <div class="related-course-wrap client-style3">
                                <div class="flat-carousel-box data-effect clearfix" data-gap="30" data-column="1" data-column2="1" data-column3="1" data-column4="1" data-dots="false" data-auto="false" data-nav="false">
                                    <div class="owl-carousel">
                                        <div class="flat-course">
                                            <div class="featured-post">
                                                <div class="entry-image">
                                                    <img src="@(Model.WebBanner.ImagePath)" alt="images">
                                                </div>
                                            </div>
                                            <div class="course-content clearfix">
                                                <div class="wrap-course-content">
                                                    <h4>
                                                        <a href="https://www.uts.edu.my/">University of Technology Sarawak</a>
                                                    </h4>
                                                    <p>
                                                        First ever university published on 1 April 2023 in Sibu town.
                                                    </p>
                                                    <div class="author-info">
                                                        <div class="author-name">
                                                            Sibu, Sarawak.
                                                        </div>
                                                        <div class="enroll">
                                                            <a href="https://www.uts.edu.my/">Visit</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- courses-single -->
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/rev-slider.js"></script>
    <script src="javascript/plugins.js"></script>
    <script src="javascript/jquery-countTo.js"></script>
    <script src="javascript/jquery-ui.js"></script>
    <script src="javascript/jquery-fancybox.js"></script>
    <script src="javascript/flex-slider.min.js"></script>
    <script src="javascript/scroll-img.js"></script>
    <script src="javascript/owl.carousel.min.js"></script>
    <script src="javascript/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="javascript/parallax.js"></script>
    <script src="javascript/jquery-isotope.js"></script>
    <script src="javascript/equalize.min.js"></script>
    <script src="javascript/main.js"></script>

    <!-- slider -->
    <script src="rev-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="rev-slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.actions.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.carousel.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.kenburn.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.layeranimation.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.migration.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.navigation.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.parallax.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.slideanims.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.video.min.js"></script>
</body>
</html>
